<%-include("template/cabecera", {tituloWeb: "Pagina 404"}) %>

    <h1 class="text-center"><%= titulo %></h1>
    <h2 class="text-center"><%= descripcion %></h2>

    <!--<div class="card text-center position-absolute top-50 start-50 translate-middle border border-dark" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Proyectos</h5>
          <p class="card-text">En el siguiente link se encuentran algunos proyectos en base a mi <br>
                               aprendizaje, se incluye el CRUD que se encuentra en la barra de navegación.</p>
          <a href="#" class="card-link btn btn-danger">Projects</a>
          <a href="/Mascotas" class="card-link btn btn-warning">CRUD</a>
        </div>
      </div>-->

      


    <%-include("template/footer") %>