<%-include("template/cabecera", {tituloWeb: "Pagina de Inicio"}) %>

<!--<h1 class="text-danger text-center"><b>En Mantenimiento</b></h1>-->
<!--<h2><%= titulo %></h2>-->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cutewallpaper.org/22/front-end-wallpapers/271184633.jpg" class="d-block w-100 opacity-75" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <div class="text-center">
                <img src="https://i.ibb.co/xmC2Kwx/image-desktop.jpg" class="rounded w-25 p-3 rounded-pill" alt="Mi novia y yo">
              </div>
          <h3>Me presento! 😀</h3>
          <p>Me llamo Nicolás Saavedra y aspiro a ser Frontend Developer, soy estudiante
              en Desarrollo y Calidad de Software en UNSTA
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://wallpapercave.com/wp/wp6350571.jpg" class="d-block w-100 opacity-75" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <div class="container">
                <div class="text-center">
                    <img src="https://i.ibb.co/JzQ4rDx/html-css-js-html-first-aid-logo-symbol-trademark-transparent-png-642655.png" class="rounded float-start" alt="...">
                  </div>

            </div>
          <h3><a>Conocimientos Basicos: 😀</a></h3>
          <p> - Hardware  <br>
              - HTML5 <br>
              - CSS3 <br>
              - Javascript <br>
              - Node.js / NPM <br>
              - Bootstrap5 <br>
              - Electron.js <br>
              - P5.js <br>
              - GIT & GITHUB</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  
   




















<%-include("template/footer") %>