<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolás - <%=tituloWeb%></title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">

        <style>
           #bodyxd{ background-image: url("https://i.ibb.co/wp5GKmm/cropped-1920-1080-568747.jpg");}

           
        </style>






</head>
<body>
    <%-include("navbar") %>