<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolás - <%=tituloWeb%></title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">

        <style>
           #bodyxd{ background-image: url("https://i.ibb.co/wp5GKmm/cropped-1920-1080-568747.jpg");}

           .cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: none;
}
.cmn-btncircle {
    width: 48px !important;
    height: 48px !important;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}


#botoncito{
  background-image:url("https://i.ibb.co/J34WjTC/2224668-instagram-instagram-button-instagram-logo-social-media-icon.png");

  animation: botoncito 2s ease 0s 1 normal forwards;
}
@keyframes botoncito {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

        </style>






</head>
<body>
    <%-include("navbar") %>